<!-- Blog -->
<a id="blog"></a>
<div class="blog jumbotron dark">
	<div id="blogTween" class="container">

		<div class="row">
			<div class="col-md-12">
				<h2>Blog</h2>
			</div>
		</div>

		<div class="row blog-tiles">

			{% if site.posts.size == 0 %}
			<div class="col-md-12">
			  	<h2>No post found</h2>
			</div>
			{% else %}

				{% for post in site.posts %}
					<div class="col-sm-12 col-md-4 blog-item">
						<div class="blog-post-img">
							{% if post.link %}
								<a href="{{ post.link }}">
							{% else %}
								<a href="{{ post.url | prepend: site.baseurl }}">
							{% endif %}
								<img src="{{ post.image }}" title="" alt="" />
							</a>
						</div>
						<div class="blog-post">
							{% if post.link %}
								<a href="{{ post.link }}">
							{% else %}
								<a href="{{ post.url | prepend: site.baseurl }}">
							{% endif %}
								<time>{{ post.date | date: "%B %-d, %Y" }}</time>
								<span class="h3">{{ post.title }}</span>
								<span class="spacer"></span>
								{{ post.excerpt }}
								{% if post.author %}
								<span>By {{ post.author }}</span>
								{% endif %}
							</a>
						</div>
					</div>
				{% endfor %}

				<div class="clearfix"></div>
			{% endif %}
		</div>
	</div>
</div>
