<!-- Part 4: Blog -->
<div class="blog jumbotron">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h2>Blog</h2>
			</div>
		</div>

		<div class="row">

			{% if site.posts.size == 0 %}
			<div class="col-md-12">
			  	<h2>No post found</h2>
			</div>
			{% else %}

				{% for post in site.posts %}
					<div class="col-md-4 blog-post">
						{% if post.link %}
							<a href="{{ post.link }}">
						{% else %}
							<a href="{{ post.url | prepend: site.baseurl }}">
						{% endif %}
							<h3>{{ post.title }}</h3>
							<p>{{ post.description }}</p>
							<span>By {{ post.author }}</span>
							<time>{{ post.date | date_to_string }}</time>
						</a>
					</div>
				{% endfor %}

			{% endif %}
		</div>
	</div>
</div>
