<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <meta name="description" content="">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Social share kit -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social-share-kit.css" type="text/css">
  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <!-- modernizr-2 -->
  <script src="{{ site.baseurl }}/assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/slick-theme.css">
  <!-- Main.css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <!-- scroll magic -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/TweenMax.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/ScrollToPlugin.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/debug.addIndicators.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/animation.gsap.min.js"></script>

  {% seo %}

  {% include google-analytics.html %}
</head>
