<!-- Hire Me -->
<a id="hireme"></a>
<div class="spacer s1"></div>
<div class="slide hireme jumbotron">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12">
				<h2>Work with Me?</h2>
			</div> -->
			<div id="hiremeTitle" class="col-md-12">
				<h2>Work with Me</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% for item in site.data.workwithme %}
				<p>{{ item.paragraph }}</p>
				{% endfor %}
				<div>
					<a href="{{ site.resumeurl }}" target="_blank">
						<button class="btn btn-primary">Download my CV</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
