<!-- Instagram -->
<a id="instagram"></a>
<div class="instagram jumbotron light">
	<div id="instagramTween" class="container">
		<div class="row">
			<div class="col-md-12">
				<a target="_blank" href="https://www.instagram.com/{{ site.author.instagram }}" title="Check out my Instagram">
					<h2><i class="fa fa-instagram" aria-hidden="true" alt="Instagram"></i> Instagram</h2></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="instafeed"></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
