<!-- Portfolio -->
<a id="portfolio"></a>
<div class="portfolio jumbotron light">
	<div id="portfolioTween" class="container">
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-github" aria-hidden="true"></i> Portfolio</h2>
			</div>
		</div>
		<div class="row">
			{% for project in site.data.portfolio %}
			<div class="col-xs-12 col-sm-{{ project.column }} portfolio-tile">
				<a href="{{ project.url }}" target="_blank">
					<span class="portfolio-tile-head" style="background-color:{{ project.color1 }};">
						<i class="fa fa-{{ project.icon }}" aria-hidden="true"></i>
					</span>
					<span class="portfolio-tile-bottom" style="background-color:{{ project.color2 }};">
						<h2>{{ project.title }}</h2>
						<h5><i>{{ project.subtitle }}</i></h5>
						<p>{{ project.desc }}</p>
					</span>
				</a>
			</div>
			{% endfor %}
			{% if skill.column.newrow == true %}
				</div>
				<div class="row">
			{% endif %}
		</div>
	</div>
</div>
