<!-- Skills -->
<a id="skills"></a>
<div class="spacer s1"></div>
<div class="slide jumbotron skills">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12">
				<h2>Skills</h2>
			</div> -->
			<div id="skillsTitle" class="col-md-12">
				<h2>Skills</h2>
			</div>
		</div>
		<div class="skill row">
		{% for skill in site.data.skills %}
			<div class="col-md-{{ skill.column }} skills-item {{ skill.brd-btm }}">
				<img src="{{ skill.image }}" alt="{{ skill.name }}" title="{{ skill.name }}">
				<div class="skills-hover">
					<span>
						<h2>{{ skill.name }}</h2>
						<p>{{ skill.desc }}</p>
					</span>
				</div>
			</div>
			{% if skill.newrow == 'true' %}
				</div>
				<div class="skill row">
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
