<!-- Testimonials -->
<a id="contact"></a>
<div class="testimonials jumbotron dark">
	<div id="testimonialsTween" class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<h2><i class="fa fa-envelope" aria-hidden="true"></i> Get in Contact</h2>
				<h4>Interested in working with me?</h4>
				<div class="contact">
					<p>I'm currently working on a freelance/contract basis. If you're interested in working with me, or just want to talk then reach out!</p>
					<p><a href="{{ site.resumeurl }}" target="_blank">Click here</a> to download my Resume, or</p>
					<a href="mailto:{{ site.author.email }}"><button class="btn btn-primary btn-request">Send me a Request</button></a>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<h2><i class="fa fa-handshake-o" aria-hidden="true"></i> Testimonials</h2>
				<div class="testimonials">
				{% for recom in site.data.recommendations %}
					<div>
						<h4><a href="{{ recom.url }}" target="_blank">{{ recom.name }}</a> {{ recom.position }}</h4>
						<p style="font-size:13px;">&quot;{{ recom.desc }}&quot;</p>
					</div>
			    {% endfor %}
				</div>
			</div>
			<div class="col-md-4 text-center liv-sq">
				<img src="/assets/images/liv_sq.jpg" alt="" title="Oh hi!">
			</div>
		</div>
	</div>
</div>
