* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: RGBA(184, 168, 155, 1.0);
}

.slide.jumbotron p {
    font-size: 14px;
}

// .content-container {
//   max-width: 38rem;
//   padding: 2rem 1.5rem;
//   margin-left:  auto;
//   margin-right: auto;
//
//   @media (min-width: 38rem){
//     padding: 5rem 1rem;
//   }
// }

//
// .header {
//   padding: 2%;
//
//   &-title {
//     font-weight: 300;
//     a {
//       color: $base-color;
//
//       &:hover,
//       &:focus {
//         text-decoration: none;
//       }
//     }
//
//     span {
//       color: lighten($base-color, 60);
//     }
//
//   }
//
//   &-nav {
//     a {
//       color: lighten($base-color, 50);
//       font-weight: 300;
//       text-transform: lowercase;
//       -webkit-transition: all .2s ease;
//          -moz-transition: all .2s ease;
//               transition: all .2s ease;
//
//       &:hover,
//       &:focus {
//         color: $base-color;
//         text-decoration: none;
//       }
//
//       + a {
//         margin-left: .25rem;
//       }
//     }
//   }
// }


/*--------------
  Nav
  -------------- */
nav {

    li {
        font-family: $nav-font!important;
        margin-bottom: 0;

        a {
            color: #000000;
        }


    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: RGBA(181, 172, 167, 1.00) !important;
    color: white;
}

.navbar {

    .navbar-brand {
        padding: 5px 15px 15px 15px;

        img {
            height: 50px;
        }
    }
}

.navbar-opa {
    background-color: RGBA(184, 168, 155, 0.6);
}

/*--------------
  General
  -------------- */
.container {
  font-family: $base-font;
}

/*--------------
  Header
  -------------- */
.header.jumbotron {
    margin: 50px auto 0 auto!important;
    padding-bottom: 20px;

    background: url('/assets/images/header/bg_4.jpg') no-repeat 0 0 transparent;
    background-size: 100% auto;

    .container {
        position: relative;

        .header-content {
            width: 16rem;
            float: right;

            @media (max-width: 980px) {
               width: 12rem;
               h1 {
                  font-size: 52px;
               }
               p {
                   font-size: 16px;
               }
            }
        }
    }
}

.social-links {
    position: absolute;
    bottom: 0;
    right: 0;

    ul {
        list-style: none;

        li {
            display: inline;
            margin-left: 20px;

            a {
                font-size: 38px;
                color: #333333;
            }

            a:hover {
                color: #F2D8AC;
            }
        }
    }
}

/* Extra large display */
@media screen and (min-width: 1280px){
    .header.jumbotron {
        .container {
            height: 30rem;
        }
    }
}

/* Retina display */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header.jumbotron {
        .container {
            height: 48rem;
        }
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px) {
    .header.jumbotron {
        .container {
            height: 45rem;
        }
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .header.jumbotron {
        .container {
            height: 38rem;
        }
    }
}


/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .header.jumbotron {
        .container {
            height: 28rem;
        }
    }
}

/*--------------
  Skills
  -------------- */
.jumbotron.skills {
    padding-bottom: 40px;
    background-color: $jumbotron-bg-light;

    .skill.row {

        .brd-btm {
            border-bottom: 1px solid RGBA(247, 215, 166, 1.00);
        }

        div[class^="col-"] {
            height: 7.3rem;
            border-right: 1px solid RGBA(247, 215, 166, 1.00);
            position: relative;

            .skills-hover {
                display: none;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: RGBA(247, 215, 166, 0.95);
                color: #5D5D5D;
                left: 0;
                top: 0;

                span {
                    padding: 20px;
                    text-align: center;
                    display: block;
                }
            }
        }

        div[class^="col-"]:nth-child(3n+3) {
            border-right: none;
        }

        img {
            height: 9rem;
            margin: 0 auto;
            padding-top: 3.8rem;
        }
    }

    .skill.row:nth-child(even) {
        border-bottom: none;
    }
}

/*--------------
  Hire Me
  -------------- */
.hireme.jumbotron {
    background-color: $jumbotron-bg;
    margin-bottom: 0!important;

    .container {
        height: auto!important;
    }
}

/*--------------
  Portfolio
  -------------- */
.portfolio.jumbotron {
    background-color: $jumbotron-bg-light;
    margin-bottom: 0!important;
}


/*--------------
  Blog
  -------------- */
.blog.jumbotron {
    background-color: $jumbotron-bg-light;
    margin-bottom: 0!important;

    .container {
        height: auto!important;
    }
}

/*--------------
  Instagram Feed
  -------------- */
.instagram.jumbotron {
    background-color: $jumbotron-bg;
    margin-bottom: 0!important;

    #instafeed {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: -.5vw;
        margin-left: -.5vw;
        margin-right: -.5vw;

        a {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-flex-basis: calc(100%/3);
            -ms-flex-preferred-size: calc(100%/3);
            flex-basis: calc(100%/3);
            line-height: 0;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            border: .5vw solid transparent;
        }
    }
}

/*--------------
  Testimonials
  -------------- */
.testimonials.jumbotron {
    background-color: $jumbotron-bg-light;
    margin-bottom: 0!important;

}

/*--------------
  Map
  -------------- */
.map.jumbotron {
    background-color: $jumbotron-bg;
    margin-bottom: 0!important;
    padding: 0!important;

    #map {
        height: 300px;
        width: 100%;
    }
}

/*--------------
  Footer
  -------------- */
footer {
    background-color: $jumbotron-bg;
}


/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

/*--------------
  Post
  -------------- */
.post {

  &-title {
    margin-bottom: 0rem;
  }

  &-date {
    margin-bottom: .5rem;
    color: $base-lighten-color;
    font-size: .75rem;
    text-transform: uppercase;
  }

  &-tag {
    margin-bottom: 1rem;
    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: $base-lighten-color;
      text-decoration: none;
			border-radius: 3px;
    }
    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
    }
    span {
      float: left;
			padding: .5px 5px;
    }
  }
  &-share {
    margin-bottom: 1rem;
  }
}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    &:hover {
    background-color: $background-over-color;
    border-color: transparent;
    border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .25rem;
      font-size : 1.6rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .75rem;
      text-transform: uppercase;
    }

    &-desc {
			color: lighten($base-color, 20);
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $base-lighten-color;

        &:hover,
        &:focus {
          color: $base-color;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $base-lighten-color;

        &:hover {
          color: $base-color;
          text-decoration: none;
        }
      }
    }
  }
}

/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    font-size: .75rem;
    display: inline;
    list-style-type: none;
    text-transform: lowercase;


    a {
      display: inline-block;
      margin: 1px 4px;
      color: #fff;
      background-color: lighten($base-color,50);
			border-radius: 3px;
      span {
        float: left;
        padding: .5px 5px;
      }
      .count {
        background-color: lighten($base-color,40);
				border-radius: 0 3px 3px 0;
      }
      &:hover {
        background-color: lighten($base-color,40);
      }
    }
  }

  &-title {
		font-size: 1.4rem;
		font-weight: 600;
		text-transform: lowercase;
		padding-top: 1rem;
  }

  &-post {
		padding-left: .75rem;
		a {
			color: $base-color;

			&:hover {
				color: $base-color;
				text-decoration: none;
				background-color: $background-over-color;
		    border-color: transparent;
      }
		}
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {

      a {
        color: $base-color;

        &:hover {
  				color: $base-color;
  				text-decoration: none;
  				background-color: $background-over-color;
  		    border-color: transparent;
        }

      }


      &-title {
        font-size : 1.2rem;
        font-weight: 600;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}
